page-datos-mp {
    ion-item{
        font-size: 0.8em !important;
        }
    ion-button{
        font-size: 0.7em !important;
        }
    label{
        font-size: 1.2em !important;
        }
        p{
          font-size: 0.9em !important;
        }
        .cabecera{
          color: #4682B4;
          font-size: 0.9em !important;
        }
        .custom-class{
          .toast-wrapper {
            background-color: red;
          }
        }


}
