<!--
  Generated template for the ActualizaClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="contenedor">

  <ion-navbar>
    <ion-title>Actualiza Datos del Cliente</ion-title>
    <ion-fab top mini right edge>
        <button (click)="goAddCliente()" ion-fab mini color="detalles"><ion-icon name="add"></ion-icon></button>
     </ion-fab>
  </ion-navbar>

</ion-header>


<ion-content padding>
      

  <ion-card>
    <img src="/assets/imgs/image-33.jpg"/>
    <ion-card-header>
        Royaltex S.A.
      </ion-card-header>
        <!-- Crear Nuevo Usuario -->
      <ion-card-content>
        <!-- Add card content here! -->
      </ion-card-content>
  </ion-card>

  <ion-item>
  <ion-label floating>Cédula o RUC:</ion-label>
  <ion-input type="text" [(ngModel)]="ruc"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showRuc">{{msjRuc}}</ion-label>
</ion-item>
  <button ion-button block round (click)="obtenerCliente(ruc)">Recuperar Datos</button>

  <ion-list *ngFor="let cliente of clientes">
<ion-item>
  <ion-label floating>Nombres:</ion-label>
  <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showNombre">{{msjNombre}}</ion-label>
</ion-item>
<ion-item>
  <ion-label floating>Apellidos:</ion-label>
  <ion-input type="text" [(ngModel)]="apellido"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showApellido">{{msjApellido}}</ion-label>
</ion-item>
<ion-item>
    <ion-label floating>Email:</ion-label>
  <ion-input type="text"  [(ngModel)]="email"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showEmail">{{msjEmail}}</ion-label>
</ion-item>
<ion-item>
    <ion-label floating>Dirección:</ion-label>
  <ion-input type="text" [(ngModel)]="direccion"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showDireccion">{{msjDireccion}}</ion-label>
</ion-item>
<ion-item>
    <ion-label floating>Celular:</ion-label>
  <ion-input type="text" [(ngModel)]="celular"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showCelular">{{msjCelular}}</ion-label>
</ion-item>
<ion-item>
    <ion-label floating>Teléfono:</ion-label>
  <ion-input type="text"  [(ngModel)]="telefono"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showTelefono">{{msjTelefono}}</ion-label>
</ion-item>
<ion-item>
  <ion-label floating>Fecha de Nacimiento:</ion-label>
  <ion-input type="date" [(ngModel)]="fNacimiento" #fecha="ngModel" required date minDate="1900-01-01" maxDate="2000-12-31"></ion-input>
  <ion-label color="danger" text-right [hidden]="!showFNacimiento">{{msjFNacimiento}}</ion-label>
</ion-item>
<ion-item  [hidden]="true">
<ion-input type="text" laceholder="Código"  [(ngModel)]="codigo"></ion-input>
</ion-item>  


<button ion-button block color="secondary" round (click)="actualizaCliente()" [disabled]="!isenabled">Actualizar Datos</button>

<ion-label text-right>*</ion-label>

<button ion-button color="blanco" block round ></button> 



<!-- <button ion-button color="blanco" block ></button> -->

</ion-list>
</ion-content>
<ion-footer>
    <ion-item *ngFor="let empr of datosEmpresa">
        <ion-icon name="cube"></ion-icon>
        {{empr.nombre}}
       <button ion-button color="detalles" item-end *ngFor="let usua of datosUsuario">
               {{usua.nombre}}
          
        </button>  
        <button ion-button color="detalles" item-end icon-only>
            <ion-icon name="person"></ion-icon>
        </button> 
       
      </ion-item>
  </ion-footer>
